//Radar index css file
*{
    margin:0;
    padding:0 auto;
}
#content{
    margin:auto;
    max-width:960px;
    width:75%;
}
img{
    margin:auto;
    width:100%;
}
.button{
    float:left;
    width:50%;
    max-width: 480px;
    color:#000;
    height:110px;
    text-align:center;
    font-family:sans-serif;
    font-size:400%;
    background:#dddddd;
}
a:link{
    text-decoration:none;
}
