<DOCTYPE html>
<html>
    <head>
        <title>Radar</title>
        <link rel='stylesheet' href='/css/game.css' />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src='https://www.google.com/jsapi'></script>  
        <script src="/js/game.js"></script>
        <script> this_gId = <%= gId %>; </script>
    </head>
    <body>
        <div id="header">
            <div id="name">
                <div id="logo"><%= name %></div>
            </div>
            <div id="personal">
                <span id="welcome">Welcome, <%= user %>!</span>
                <span id="profilelink" class="link">
                    Profile
                </span>
                <span id="logout" class="link">Logout</span>
            </div>
        </div>
        <div id="content">
            <div id="users">
                <div id="userheader">users</div>
                <div id="userlist">
                    <div id="usercreate" class="blue button">randomly assign</div>
                    <ul id="usersul">
                    </ul>
                </div>
            </div>
            <div id="main">
                <div id="mainheader">
                    <span id="groupnames">groups</span>
                </div>
                <div id="mainpanel">
                    <div id="startgameheader">
                        <div id="startgame" class="blue button">START GAME!</div>
                    </div>
                    <div id="groups"></div>
                </div>
            </div>
        </div>
    </body>
</html>
