<!DOCTYPE html>
<html>
<head>
  <title>Radar</title>
  <meta name="description" content="Group gaming tracking system">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 80% }
    </style>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUeCEPWBuJBrgOC2tgbTCfeONThql9f5Q"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	    <script type="text/javascript">
	    var map;
	    var markers;
	    var own_marker;
	    var uId = '<%= uId %>';
	    var err;
	    var rows;
        $.post('/getRootGroups',{uId:uId},function(response) {
             console.log(response.err);
             console.log(response.rows);
             err = response.err;
             rows = response.rows;
        });


      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        map = new google.maps.Map(document.getElementById("map-canvas"),{
            zoom: 19,
            center: new google.maps.LatLng(-34.397, 150.644),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false,
            streetViewControl: false,
            panControl: false,
            rotateControl: true,
            zoomControlOptions: {
               position: google.maps.ControlPosition.LEFT_BOTTOM
            }});
        new google.maps.Marker({position: {lat: 37.786, lng: -122.4052}, icon: "http://54.186.80.240/img/red-dot.png", map: map}); 
        own_marker = new google.maps.Marker({position: {lat: 37.7861, lng: -122.5052}, icon: "http://54.186.80.240/img/green-dot.png", map: map});
        

        /*for (marker_key in markers)
        {
        	markers[marker_key] = 
        } */
      }
      google.maps.event.addDomListener(window, 'load', initialize);


    </script>

</head>
<body >


  <p>Hello, dfkj <%= uId %>!</p>

  <p id="demo">i don't think this works, bro</p>



   <div id="map-canvas" style="width: 85%; height: 80%"></div>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->



  <!-- grab the GPS coordinates, if possible - from http://www.w3schools.com/HTML/html5_geolocation.asp -->
<script type = "text/javascript">
var x = document.getElementById("demo");
var id;
var options = {
  enableHighAccuracy: true,
  timeout: 10000,
  maximumAge: 0
};

getLocation();

function getLocation() {
    if (navigator.geolocation) {

        id = navigator.geolocation.watchPosition(showPosition, showError, options);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude; 
    if (position.coords.heading != null)
    {
    	x.innerHTML += "<br>Heading: " + position.coords.heading;
    }
    else
    {
    	x.innerHTML += "<br>No heading.";
    }

    x.innerHTML = JSON.stringify(position.coords) + "<br> uId = " + uId + "<br> err = " + JSON.stringify(err) + "<br> rows = " + JSON.stringify(rows);
 
    map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    own_marker.setPosition(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
        default:
            x.innerHTML = "default."
            break;
    }
}
</script>


</body>
</html>