<!DOCTYPE html>
<html>
<head>
  <title>Radar</title>
  <meta name="description" content="Group gaming tracking system">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

            <link rel='stylesheet' href='/css/game.css' />
   <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { 
        height: 80%;
        width:100%;
      }
      
      
      
    </style>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUeCEPWBuJBrgOC2tgbTCfeONThql9f5Q"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	    <script type="text/javascript">
	    
	    var markers;
	    var uId = '<%= uId %>';
	    var err;
	    var rows;
	    var activeGame = false;
	    var activeGroup = false;
        $.post('/getRootGroups',{uId:uId},function(response) {
             console.log(response.err);
             console.log(response.rows);
             err = response.err;
             rows = response.rows;
             var gamediv = document.getElementById("gameslistul");
             if (err == null)
             {
                 
                gamediv.innerHTML = "";
                var i = 0;
                for(var row in rows){
                	var gamestr = '<div id="game' + rows[row].gId + '" class="blue button geobutton"';
                	gamestr += ' onclick="selectGame(' + rows[row].gId + ')">' + rows[row].Groupname + '</div>';
                    gamediv.innerHTML += gamestr;

            	 }
             }
             else
             {
                gamediv.innerHTML = JSON.stringify(err);
             }
        });
      function selectGame(gId)
      {
      	if (activeGame == gId)
      		return;
      	if (activeGame != false && document.getElementById("game" + activeGame))
      	      document.getElementById("game" + activeGame).className = "blue button geobutton";


      	document.getElementById("groupslistul").innerHTML = "";
  		document.getElementById("game" + gId).className = "selected button geobutton";
  		activeGame = gId;

      activeGroup = false;
      clearInterval(curr_timer);
         for (var i = 0; i < markers.length; i++) {
           markers[i].setMap(null);
         }

       $.post('/getSubGroups',{uId:uId, gId:activeGame},function(response) {
             console.log(response.err);
             console.log(response.rows);
             err = response.err;
             rows = response.rows;

             var groupdiv = document.getElementById("groupslistul");
             if (err == null)
             {
                 
                groupdiv.innerHTML = "";
                var i = 0;
                for(var row in rows){
                	// add if disabled/root, don't allow click.
                	var groupstr = '<div id="group' + rows[row].gId + '" class="blue button geobutton"';
                	if (rows[row].isVisible == '0')
                		groupstr += '>' + rows[row].Groupname + '</div>';
                	else
                		groupstr += ' onclick="selectGroup(' + rows[row].gId + ')">' + rows[row].Groupname + '</div>';
                    groupdiv.innerHTML += groupstr;
            	}
             }
             else
             {
                gamediv.innerHTML = JSON.stringify(err);
             }
        });
      }

      function selectGroup(gId)
      {
      	if (activeGroup == gId)
      		return;
      	if (activeGroup != false)
      	{
      	    if (document.getElementById("group" + activeGroup))
      			document.getElementById("group" + activeGroup).className = "blue button geobutton";
      		else
      			// in case the user tries to delete the button really quickly
      			activeGroup = false;
      	}
      	document.getElementById("group" + gId).className = "selected button geobutton";
      	activeGroup = gId;
        getOtherLocations(gId);
      }

 

    </script>
  <link rel='stylesheet' href='/css/game.css' />
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAUeCEPWBuJBrgOC2tgbTCfeONThql9f5Q"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/js/geo.js"></script>
  <script>uId = '<%= uId %>';</script>
</head>
<body>
    <!--<div id="header">
        <div id="namelink">Games</div>
        <div id="groupslink">Groups</div>
    </div>-->
    <div id="groups_content" style="width: 100%; height: 25%; margin: auto;">
      <div id="usersgroup">
      <div id = "userheader">Games</div>
        <div id="gameslist">
            <ul id="gameslistul">
            </ul>
        </div>
      </div>
      <div id="usersgroup">
        <div id="userheader">Groups</div>
          <div id="groupslist">
            <ul id="groupslistul">
            </ul>
        </div>
      </div>
        <div id="warning"></div>
    </div>

    <div id="map-canvas" style="width: 100%; height: 75%; margin: auto;"></div>
    <!-- grab the GPS coordinates, if possible - from http://www.w3schools.com/HTML/html5_geolocation.asp -->


</body>
</html>
