<!doctype = html>

<!-- ante says 'HI' -->
<head>
    <title>Radar</title>
    <link rel="stylesheet" href="css/radarmain.css">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>

<body>
    <div id="content">
        <img id="logoimg" src="images/radarlogo.svg"></img>
        <!--make a picture!-->
        
        <div id="buttons">
            <div id="create" class="button">
            </div>
            <div id="join" class="button">
            </div>
        </div>
    </div>
</body>
