<!doctype = html>
<meta name="viewport" width="device-width" />
<!-- ante says 'HI' -->
<head>
    <title>Radar</title>
    <link rel="stylesheet" href="css/radarmain.css">
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
</head>

<body>
    <div id="content">
        <img id="logoimg" src="images/radarlogo.svg"></img>
        <!--make a picture!-->
        
        <div id="buttons">
            <a href="create">
                <div id="create" class="button">
                    CREATE
                </div>
            </a>
            <a href="join">
                <div id="join" class="button">
                    JOIN
                </div>
            </a>
        </div>
    </div>
</body>
